
body {
  background-color: #2b2d31;
}

#chat-bot-text {
  position: relative;
  display: flex;
  background: #313338;
  left: 60px;
  margin-top: 10px;
  margin-right: 60px;
  padding: 10px;

  border-radius: 10px 20px 20px 20px;

  transform: translateX(-100%);
  
  animation: slide-in 0.5s forwards;
}

#chat-user-text {
  position: relative;
  display: flex;
  background: #28412c;
  margin-left: 60%;
  margin-top:10px;
  padding: 5px;

  border-radius: 20px 10px 20px 20px;

  transform: translateX(-100%);
  
  animation: slide-in 0.5s forwards;
}

@keyframes slide-in {
    100% { transform: translateX(0%); }
}

#chat-bot-text #chat-bot-avatar {
  position: absolute;
  width: 50px;
  left: -60px;
  top: 2px;
}

#chat-bot-text p {
  font-family: arial;
  color: white;
  overflow: hidden;
}

#chat-bot-text #time {
  position: absolute;
  right: 10px;
  bottom: 2px;
  padding: 5px;
  border-radius: 25px;
  font-size: 8pt;
  font-family: arial;
  color: white;
  overflow: hidden;
}

#chat-user-text #time-user {
  position: absolute;
  right: 10px;
  bottom: 2px;
  padding: 5px;
  border-radius: 25px;
  font-size: 8pt;
  font-family: arial;
  color: white;
  overflow: hidden;
}

#chat-user-text p {
  font-family: arial;
  color: white;
  overflow: hidden;
  margin-left: 10px;
}

#question button:nth-child(1) {
  position: relative;
  display: flex;
  left: 50px;
  background: linear-gradient(90deg, #cf1667 0%,  #ba0323 100%);
  border: 0px;
  font-family: arial;
  color: white;
  border-radius: 5px 10px 10px 10px;
  padding: 10px;
  margin: 10px;
  transition: 0.3s;
  cursor: pointer;

  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  
  animation: slide-in 0.4s forwards;
}

#question button:nth-child(2){
  position: relative;
  display: flex;
  left: 50px;
  background: linear-gradient(90deg, #cf1667 0%,  #ba0353 100%);
  border: 0px;
  font-family: arial;
  color: white;
  border-radius: 5px 10px 10px 10px;
  padding: 10px;
  margin: 10px;
  transition: 0.3s;
  cursor: pointer;

  transform: translateX(100%);
  -webkit-transform: translateX(-100%);
  
  animation: slide-in 0.5s forwards;
}

#question button:nth-child(1):hover {
  left: 70px;
  transition: 0.3s;
}

#question button:nth-child(2):hover {
  left: 70px;
  transition: 0.3s;
}

#user-bt {
  position: relative;
  display: flex;
  background: linear-gradient(90deg, #cf1667 0%,  #ba0353 100%);
  border: 0px;
  font-family: arial;
  color: white;
  border-radius: 10px 15px 15px 15px;
  padding: 8px;
  margin: 5px;
  transition: 0.1s;
  cursor: pointer;

  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  
  animation: slide-in 0.5s forwards;
}

#user-bt:hover {
  transition: 0.1s;
  background: linear-gradient(90deg, #e5277a 0%,  #eb1271 100%);
}